* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: auto;
  text-align: center;
}

table {
  width: 900px;
  margin: 50px;
}

th, td {
  border: 1px solid black;
  width: 100px;
}

th {
  background-color: gray;
  color: white;
}

form {
	background-color: #fff;
	font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A698B;
	margin: 8px;
	padding: 1px;
	border: 1px solid #8595B2;
}
