* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: auto;
  text-align: center;
}

table {
  width: 900px;
  margin: 50px;
}

th, td {
  border: 1px solid black;
  width: 100px;
}

th {
  background-color: gray;
  color: white;
}

form {
	background-color: #4a4a4a;
	font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #e89261;
	margin: 8px;
	padding: 1px;
	border: 1px solid #e89261;
}

label {
  width: 100%;
  text-align: center;
}

input, select {
  border: #e89261 solid;
  margin-bottom: 5px;
  color: #ffffff;
  background-color: #e89261;
}

button {
  width: 200px;
  border: #e89261 solid;
  border-radius: 20px;
  background-color: #e89261;
  color: #ffffff;
  font-size: 20px;
}
